/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

main {
    flex: 1;
}

/* Floating Button */
.floating-button {
    position: fixed;
    /* Keeps the button in a fixed position on the screen */
    top: 20px;
    /* Distance from the top of the viewport */
    left: 110px;
    /* Distance from the left of the viewport */
    z-index: 1000;
    /* Ensures it stays on top of other elements */
    padding: 10px 15px;
    background-color: #e6faff;
    /* Highlight color to make it visible */
    color: rgb(31, 106, 147);
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Subtle shadow for better visibility */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    /* Add a hover effect */
}

.floating-button:hover {
    background-color: #e6faff;
    /* Darker shade on hover */
    transform: scale(1.1);
    /* Slight zoom effect */
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #e6faff;
    color: #333;
}

/* ________________________ Header ________________________ */
.logo {
    width: 80px;
    height: 70px;
    display: block;
}

header {
    color: white;
    position: fixed; 
    left: 0;
    top: 0;
    z-index: 1000; /*on top of all elements*/
    background-color: rgba(0, 0, 0, 0.6); 
    width: 100%;
}

.navbar {
    padding: 6px 8px;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar .dropdown-menu {
    background-color:#e6faff;
}

.navbar .dropdown-menu .dropdown-item {
    color: rgb(54, 119, 177);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(54, 119, 177); 
}

/* ________________________ Footer ________________________ */
footer {
    background-color: rgb(54, 119, 177);
    color: #e5e7eb;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin: 0;
}

.contact-info {
    display: flex;
    gap: 15px;
}

.contact-info img {
    width: 24px;
    height: 24px;
}

/*main content*/
/*description */
.swimming-class img {
    height: 100vh;
    width: 100%;
}

.swimming-description h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(54, 119, 177, 0.5);
}

.swimming-description p {
    padding-top: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    max-width: 1000px;
    margin: 0 auto;
    text-shadow: 2px 2px 4px rgba(54, 119, 177, 0.5)
}

/*types of strokes*/
.card-swimming {
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-swimming h3 {
    padding-bottom: 5px;
    text-shadow: 2px 2px 4px rgba(54, 119, 177, 0.5);
}

.strokes {
    padding-bottom: 50px;
}

.strokes-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.strcards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 22%;
    margin: 5px 0;
    border: 1px solid transparent;
    padding: 10px;
    position: relative;
    overflow: hidden;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    transition: transform 0.5s ease;
}

.strcards:hover{
    transform: scale(1.05);
    color: rgb(54, 119, 177);
}

.stroke-img-top {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
}

.strokes::after {
    content: "To discover more about the different types of strokes: Freestyle, Backstroke, Breaststroke and Butterfly, hover over each one";
    display: block; 
    margin-top: 20px;
    font-size: 18px; 
    text-shadow: 2px 2px 4px rgba(54, 119, 177, 0.5);
}

.stroke-body{
    flex-grow: 1;
    /*content takes up remaining space*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

/*showing the content presented on type of strokes*/
.strcards:hover .stroke-body {
    opacity: 1;
}

/*hiding the content presented on type of strokes*/
.strcards .stroke-body {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.card-text,
.card-title {
    margin: 0 auto;
    padding: 5px 10px;
}

/*age group division*/
.class-division h3 {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    text-shadow: 2px 2px 4px rgba(54, 119, 177, 0.5);
}

.types {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

.summary {
    text-align: left;
    width: 75%;
    padding-left: 10px;
}

.summary h5 {
    text-shadow: 2px 2px 4px rgba(54, 119, 177, 0.5);
    margin-bottom: 10px;
}

.types-image {
    width: 250px;
    padding: 10px;
    display: block;
    object-fit: cover;
    height: 150px;
    border-radius: 20px;
}


/* Testimonials Section */
.testimonials-section h2 {
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(54, 119, 177, 0.5);
    margin-bottom: 30px;
}

.testimonials-section blockquote {
    font-size: 16px;
    color: #34495e; 
    font-style: italic;
    border-left: 5px solid #2980b9;
    padding-left: 20px;
}

.testimonials-section .blockquote-footer {
    font-size: 14px;
    color: #7f8c8d;
    margin-top: 10px;
}

/* Contact Us Section */
.contact-link {
    background-color: #2980b9;
    color: white;
    padding: 20px;
    border-radius: 5px;
    margin-top: 40px;
}

.contact-link a {
    display: inline-block;
    color: rgb(31, 102, 147);
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #e6faff;
    border: 2px solid white;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.contact-link a:hover {
    background-color: white;
    color: rgb(0, 82, 102);
    border: 2px solid rgb(0, 82, 102);
}

