.intro {
    position: relative;
    z-index: 1; /* text on top of the video */
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 15px;
}

/* Estilo do vídeo */
.intro video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* video is covering the div area */
    z-index: -1; /* video behind the text */
}

.intro h1,
.intro h2,
.intro p {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.card img{
	padding-top:10px;
	width:25%;
	height:200px;
	border-radius:15px;
}

